In [1]:
# declare a variable
# variable are the containers used to store any datatypes 
X=10

In [2]:
# print the variable
print(X)

10

In [3]:
# check the datatype of the variable
type(X)

int

In [1]:
# create an interger data type
int_1=20

# show the data types
print('datatype of the variable',type(int_1))

datatype of the variable <class 'int'>

In [9]:
# create an float datatype
float_1=20.38

# show the datatype
print('datatype of variable',type(float_1))

datatype of variable <class 'float'>

In [13]:
# create string datatypes
string_1='Gobal'
# show the datatype
print('datatype of variable',type(string_1))

datatype of variable <class 'str'>

In [15]:
# create and list datatypes
list_1=[10,20,30,40]
list_2=[10,30,20,46,30,39,40.68]
list_3=['Gopal','Nirmal','Nandhini','Pooja']

# show the datatype
print('datatype of variable',type(list_1))
print('datatype of variable',type(list_2))
print('datatype of variable',type(list_3))

datatype of variable <class 'list'>
datatype of variable <class 'list'>
datatype of variable <class 'list'>

In [19]:
# create and tuple datatypes
tuple_1=(10,20,30,40)
tuple_2=(10,30,20,46,30,39,40.68)
tuple_3=('Gopal','Nirmal','Nandhini','Pooja')

# show the datatype
print('datatype of variable',type(tuple_1))
print('datatype of variable',type(tuple_2))
print('datatype of variable',type(tuple_3))

datatype of variable <class 'tuple'>
datatype of variable <class 'tuple'>
datatype of variable <class 'tuple'>

In [21]:
# create an set datatypes
set_1={10,20,30,40}
set_2={10,30,20,46,30,39,40.68}
set_3={'Gopal','Nirmal','Nandhini','Pooja'}

# show the datatype
print('datatype of variable',type(set_1))
print('datatype of variable',type(set_2))
print('datatype of variable',type(set_3))

datatype of variable <class 'set'>
datatype of variable <class 'set'>
datatype of variable <class 'set'>

In [23]:
# create an boolean datatype
boolean_1=True
boolean_2=False
# show the datatypes
print('datatype of variable',type(boolean_1))
print('datatype of variable',type(boolean_2))

datatype of variable <class 'bool'>
datatype of variable <class 'bool'>

In [32]:
# create the dicitory datatypes
dicitory_1={'list_1':[10,20,30,40],
'tuple_1':(10,20,30,40),
'set_1':{10,20,30,40}}
# show the data type 
print('datatypes of the variable',type(dicitory_1))

datatypes of the variable <class 'dict'>

# basic operation

In [5]:
# Task 1:Type casting
float_2 = 45.96

#show the datatype
print('datatype of the varaiable',type(float_2))

#typecasting
int_2 = int(float_2)

#show the datatypes
print('datatypes of the variable',type(int_2))

datatype of the varaiable <class 'float'>
datatypes of the variable <class 'int'>

In [7]:
#typecasting
int_3= 5

#show the datatype
print('datatype of the varaiable',type(int_3))

#typecasting
float_3= int(int_3)

#show the datatypes
print('datatypes of the variable',type(float_3))

datatype of the varaiable <class 'int'>
datatypes of the variable <class 'int'>

In [9]:
#  Task 2:use of round function
float_4=10.1234567890

#round this value till 3 decimal places 
rounded_value = round(float_4,3)

#show the output
print('rounded values are:',rounded_value)

rounded values are: 10.123

# Arethemetic operation

In [6]:
# addition operation
# declare the variable
a=10
b=20

# perform the sum
sum_1=a+b

# show the output
print('addition of two variable:',sum_1)

addition of two variable: 30

In [14]:
# subraction operation
# declare the variable
a=10
b=20

# perform the sum
sub_1=a-b

# show the output
print('subraction of two variable:',sub_1)

subraction of two variable: -10

In [18]:

# multipulation operation
# declare the variable
a=10
b=20

# perform the sum
sub_1=a*b

# show the output
print('multipulation of two variable:',mul_1)

multipulation of two variable: 200

In [22]:
# division operation
# declare the variable
a=10
b=20

# perform the div
div_1=a/b

# show the output
print('divison of two variable:',div_1)

divison of two variable: 0.5

In [20]:
#declare the function named as'summation',who can perform the addition in two number 
def summation():
    x=10
    y=20
    summation=x+y
    return summation
#call the function
summation()

30

In [24]:
#declare the function named as 'substraction',
#who can perform this substraction between two variable 
def subraction (x,y):
    subraction=x-y
    return subraction 
#call the function
subraction(10,20)

-10

In [26]:
# declare the function named as multipulcation,
#who can perform this substraction between two variable
#this time you need to take input from the user

#take the input from the user
var_2=int(input('Give the first number:'))
var_3=int(input('Give the second number:'))

#make the user defined function
def multipulation(var_2,var_3):
    mul=var_2*var_3
    return mul
#call the function
multipulation(var_2,var_3)

Give the first number: 10
Give the second number: 20

200